{% extends 'BtnAdminBundle:Default:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {{ render(controller('BtnNodesBundle:NodeControl:tree')) }}
        </div>
        <div class="col-md-9 well well-lg">
            {% block main %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@BtnNodesBundle/Resources/public/css/style.css'
        '@BtnNodesBundle/Resources/public/css/jstree/style.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@BtnNodesBundle/Resources/public/js/jq.slugify.js'
        '@BtnNodesBundle/Resources/public/js/jstree.min.js'
        '@BtnNodesBundle/Resources/public/js/nodes.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
