{% import 'BtnAdminBundle:Macros:link.html.twig' as lnk %}
{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {% if entity.id %}
                <h3>{{ entity.name }}</h3>
            {% else %}
                <h3>{% trans %}btn_node.new_menu_item{% endtrans %}</h3>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right top-offset">
                {{ form_widget(form.save) }}
                {% if entity.id %}
                    {#<a href="#" class="btn btn-small">{{ 'btn_control.preview'|trans }}</a>#}
                    {{ lnk.blank('btn_node.node.add_subpage', 'btn_node_nodecontrol_new', {parent: entity.id}) }}
                    {{ lnk.delete('btn_node_nodecontrol_delete', {id: entity.id}) }}
              {% endif %}
            </div>
        </div>
    </div>

    {% if entity.parent %}
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#general" role="tab" data-toggle="tab">{{ 'btn_node.node.content_tab'|trans }}</a></li>
            <li><a href="#seo" role="tab" data-toggle="tab">{{ 'btn_node.node.seo_tab'|trans }}</a></li>
            <li><a href="#social" role="tab" data-toggle="tab">{{ 'btn_node.node.social_tab'|trans }}</a></li>
        </ul>
    {% endif %}

    {{ form_errors(form) }}

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="general">
            {{ form_row(form.title) }}
            {{ form_row(form.slug) }}
            {% if entity.parent %}
                {{ form_row(form.link) }}
                {{ form_row(form.visible) }}
                {% if form.providerId is defined %}
                    {{ form_row(form.providerId) }}
                {% endif %}
                {% if form.providerParameters is defined %}
                    {% for item in form.providerParameters %}
                        {% if loop.first %}
                            {% form_theme item 'BtnNodeBundle:Form:providerParameters.html.twig' %}
                        {% endif %}
                    {% endfor %}
                    {{ form_row(form.providerParameters) }}
                {% endif %}
            {% endif %}
        </div>
        {% if entity.parent %}
            <div class="tab-pane" id="seo">
                {{ form_row(form.metaTitle) }}
                {{ form_row(form.metaKeywords) }}
                {{ form_row(form.metaDescription) }}
            </div>
            <div class="tab-pane" id="social">
                {{ form_row(form.ogTitle) }}
                {{ form_row(form.ogDescription) }}
                {{ form_row(form.ogImage) }}
            </div>
        {% endif %}
    </div>

    {{ form_rest(form) }}
</form>
